.circle {
    width: 22px; /* Set equal width and height for a square base */
    height: 22px;
    background-color: #65FF86; /* Choose your desired background color */
    border-radius: 50%; /* This transforms the square into a circle */
    margin-top: 15px;
    margin-left: 10px;
}

