.circle {
    width: 22px; /* Set equal width and height for a square base */
    height: 22px;
    background-color: #65FF86; /* Choose your desired background color */
    border-radius: 50%; /* This transforms the square into a circle */
    margin-top: 17px;
    margin-left: 10px;
}

.mapContainer {
  flex-grow: 0.5;
  padding: 1rem;
  background-color: #ffffff;
  height: 300px;
}

.analyzeButton {
  background-color: #398CEB;
  color: #ffffff;
  width : 200px;
  height: 45px;
  margin-left: 10px;
  border-radius: 6px;
  border: none;
  font-family: 'agdasima bold', monospace;
  font-size: 1.3rem;
  margin-top: 5px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.analyzeButton:hover {
  background-color: #2965aa;
}

.clearButton {
  background-color: #FD4747;
  color: #ffffff;
  width : 140px;
  height: 45px;
  margin-left: 3px;
  border-radius: 6px;
  border: none;
  font-family: 'agdasima bold',monospace;
  font-size: 1.2rem;
  margin-top: 5px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.clearButton:hover {
  background-color: #a02b2b;
}

.box1and2container {
  display: flex;
  flex-grow: 0.5;
  background-color: #ffffff;
  gap: 15px;
}

.box1{
  height: 70px;
  width: 175px;
  background-color: #CBE3FF;
  border-radius: 8px;
  margin-left: 15px;
  border-radius: 15px;
}

.box2{
  height: 70px;
  width: 175px;
  background-color: #FFDCB4;
  border-radius: 8px;
  border-radius: 15px;
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1.2rem;
  background-color: #ffffff;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 85%;
}
.happyContainer {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(to right, #22C55E, #2563EB);
  margin-top: 1rem;
}