.burgerButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  padding: 0;
  outline: none;

  transition: filter 0.15s ease-out;
}

.burgerButton:active {
  filter: brightness(80%);
}

.line {
  width: 100%;
  height: 0.25rem;
  background-color: #494949;
  border-radius: 2px;

  transition: background-color 0.15s ease-out;
}

.burgerButton:hover .line {
  background-color: #333;
}
