/* Copy-paste these styles from homePage.module.css */

.header {
  height: 50px;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
  padding: 0.9375rem; /* 15px */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 0.625rem; /* 10px */
}

.logo {
  height: 4rem;
  border-radius: 1.2rem;
  display: block;
  padding: 5px;
}

.font_head {
  font-family: 'agdasima bold', monospace;
  font-size: 2rem;
  color : #4A64A2;
  margin: 0;
  padding: 3px;
}
