.map {
  height: 100%;
  width: 100%;
  border-radius: 8px; /* Optional: adds nice rounded corners */
}

.locationControl {
  background: rgb(255, 255, 255);
  padding: 6.5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.locationBtn {
  background: white;
  border: 2px solid #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}