.map {
  height: 100vh;
  width: 100%;
}

.locationControl {
  background: white;
  border-radius: 8px;
  padding: 4px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}

.locationBtn {
  background: white;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
}
.locationBtn:hover {
  background: #eaeaea;
}
